body {
    background-color: #1e1e1e;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="checkbox"],
input[type="radio"] {
    width: calc(100% - 22px);
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: none;
    border-color: #007bff;
}

.gender-options > div,
.hobby-options > div {
    display: inline-block;
    margin-right: 10px;
}

.error {
    color: red;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="date"] {
    width: calc(100% - 22px);
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    /* Add the following lines to style the date picker */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
}


/* CSS for centering the animation and success message */
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto; /* Center the loader */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.success {
    margin-top: 20px;
}

.tick {
    width: 48px;
    height: 48px;
}

.success p {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}